body {
   background:#161E54;

}
button  {
    background: white;
    padding: 13px 13px;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 7px;
    border: 3px solid #161E54;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    color:#161E54;
    cursor:pointer;     
}
button:hover {
    background:#FF5151;
    color:white;
    border: none;
    transition: 0.3s;
}
.App {
    margin: 0 auto;
    max-width: 90%;
}


.item {
    display: flex;
    background:#88E0EF;
    color: white;
    list-style: none;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
}
.girls {
    background:#FF9B6A;
  
}
.initials {
    background:#FF5151;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
.name {
 display: flex;
 align-items: center;

}
.name button {
    text-align: center;
    margin: auto;
    justify-content: center;

}
.jabbed {
    border: 5px solid #161E54;
}
